# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*storybook.log
storybook-static
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/design.jobhunter07.com.slnx/v18/.wsuo
.vs/design.jobhunter07.com.slnx/v18/DocumentLayout.backup.json
.vs/design.jobhunter07.com.slnx/v18/DocumentLayout.json
